<%= simple_form_for([@restaurant, @coupon_code ], remote: true) do |f| %>
   <%= f.input :restaurant_id, as: :hidden, :input_html => {:value => @restaurant.id } %>
    <div class="form-group">
      <div class='form-group'> 
        <label class='form-label'>Coupon Code:</label>
        <input type="text" name="coupon_code" size="40" />
      </div>
      <div class='form-group'>
        <label  class='form-label'>Discount:</label>
        <input type="text" name="discount" size="40" />%
      </div>
      
      
      <div class='form-group'>
        <label class='form-label'>End Date:</label>
        <input type="datetime-local" name="end_date" size="40" />
      </div>

      <div class='form-group'>

        <input type="submit" name="create" value="Create" />
      </div>
      
      
    </div>
<% end %>
<br />

