<%= form_with url: group_code_carts_path  do |form| %>
        <p>Group Code:</p>
        <input type="text" name="group_code" />
        <br /> 
        <input type="submit" value="Submit" />
<% end %>