<%= form_with url: group_code_carts_path  do |form| %>
        <p>Let's create one group code:</p>
        <input type="text" name="group_code" />
        <br /> 
        <input type="submit" value="Create" />
<% end %>