/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .show-restaurant {
    text-align: center;
 }

 .menu {
    text-align: center;
 }

 .my-restaurant {
     padding-top: 50px;
     text-align: center;
 }

 #store .cart_title {
   font: 120% bold;
}

#store .item_price, #store .total_line {
   text-align: right;
}

#store .total_line .total_cell {
   font-weight: bold;
   border-top: 1px solid #595;
}

.address {
   right: 5px;
   width: 200px;
   height: 50px;
   overflow: scroll;
}

/* Order form style */
.new_order {
   background: #efe;
}


.field label {
   width: 5em;
   float: left;
   text-align: right;
   padding-top: 0.2em;
   margin-right: 0.1em;
   display: block;
}

.field select, .field textarea, .field input {
   margin-left: 0.5em;
}

// #cart{
//     position: fixed;
//     top: 4px;
//     right: 5px;
//     width: 238px;
//     height: 250px;
//     overflow: scroll;
//     padding-top: 250px;
// }

#home {
   padding-right: 200px;
}

#search {
   padding-right: 200px;
}

#main {
   padding-top: 70px;
}

.login_form {
   position: relative;
   z-index: 1;
   background: #FFFFFF;
   max-width: 360px;
   margin: 0 auto 100px;
   padding: 45px;
   text-align: center;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-input {
   font-family: "Roboto", sans-serif;
   outline: 0;
   background: #f2f2f2;
   width: 100%;
   border: 0;
   margin: 0 0 15px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 14px;
}

.form-button {
   font-family: "Roboto", sans-serif;
   text-transform: uppercase;
   outline: 0;
   background: #dd374d;
   width: 100%;
   border: 0;
   padding: 15px;
   color: #FFFFFF;
   font-size: 14px;
   -webkit-transition: all 0.3 ease;
   transition: all 0.3 ease;
   cursor: pointer;
}

body {
   background: #ecf0f1; /* fallback for old browsers */
   font-family: "Roboto", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;      
 }
 
.dish-vote {
   color: #911010;
}

#columns {
    padding-top: 50px;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/*reset css*/
div,label{margin:0;padding:0;}
body{margin:20px;}
h1{font-size:1.5em;margin:10px;}
/****** Style Star Rating Widget *****/
#rating{border:none;float:left;}
#rating>input{display:none;}/*ẩn input radio - vì chúng ta đã có label là GUI*/
#rating>label:before{margin:5px;font-size:1.25em;font-family:FontAwesome;display:inline-block;content:"\f005";}/*1 ngôi sao*/
#rating>.half:before{content:"\f089";position:absolute;}/*0.5 ngôi sao*/
#rating>label{color:#ddd;float:right;}/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#rating>input:checked~label,
#rating:not(:checked)>label:hover, 
#rating:not(:checked)>label:hover~label{color:#FFD700;}
/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating>input:checked+label:hover,
#rating>input:checked~label:hover,
#rating>label:hover~input:checked~label,
#rating>input:checked~label:hover~label{color:#FFED85;}

#my-rating{border:none;float:left;}
#my-rating>input{display:none;}/*ẩn input radio - vì chúng ta đã có label là GUI*/
#my-rating>label:before{margin:5px;font-size:1.25em;font-family:FontAwesome;display:inline-block;content:"\f005";}/*1 ngôi sao*/
#my-rating>.half:before{content:"\f089";position:absolute;}/*0.5 ngôi sao*/
#my-rating>label{color:#ddd;float:right;}/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#my-rating>input:checked~label,
#my-rating:not(:checked)>label:hover, 
#my-rating:not(:checked)>label:hover~label{color:#FFD700;}

#dish-vote{border:none;float:left;}
#dish-vote>input{display:none;}/*ẩn input radio - vì chúng ta đã có label là GUI*/
#dish-vote>label:before{margin:5px;font-size:1.25em;font-family:FontAwesome;display:inline-block;content:"\f005";}/*1 ngôi sao*/
#dish-vote>.half:before{content:"\f089";position:absolute;}/*0.5 ngôi sao*/
#dish-vote>label{color:#ddd;float:right;}/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#dish-vote>input:checked~label,
#dish-vote:not(:checked)>label:hover, 
#dish-vote:not(:checked)>label:hover~label{color:#FFD700;}